<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div v-for="ptext in paragraphs">
            {{ ptext }}
        </div>
        <p v-for="num in 10">
            {{num}}
        </p>
    </div>

    <script src="https://unpkg.com/vue@3.0.5"
        integrity="sha384-0k9//QJdpmfSdp5IK3oJjOYPfz42f2FE0goMLtK9Vq7aKllvc4Lnz7lHPHiFhvDP"
        crossorigin="anonymous"></script>
    <script>
        const app = {
            data() {
                return {
                    paragraphs: ["Paragraph 1",
                                    "Paragraph two",
                                    "Paragraph THREE"]
                }
            },
            mounted() {
                setInterval(() => this.paragraphs.push("en till"), 2000)
            }
        }

        Vue.createApp(app).mount("#app")
    </script>
</body>

</html>